CREATE DATABASE QLBanHang
GO
USE [QLBanHang]
GO
/****** Object:  StoredProcedure [dbo].[AddNewCategory]    Script Date: 3/5/2016 7:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNewCategory]
	@Name VARCHAR(50),
	@Image VARCHAR(50)
AS
BEGIN
	INSERT INTO Categories(CategoryName, Image) VALUES (@Name, @Image)
END
GO
/****** Object:  StoredProcedure [dbo].[SearchCategories]    Script Date: 3/5/2016 7:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchCategories] 
	@Name NVARCHAR(50)
AS
BEGIN
	SELECT * FROM Categories WHERE CategoryName LIKE '%'+@Name+'%'
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SearchProductByPrice]    Script Date: 3/5/2016 7:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchProductByPrice] 
(
@MinPrice FLOAT,
@MaxPrice FLOAT
)
AS
BEGIN
	SELECT * FROM Products WHERE UnitPrice BETWEEN @MinPrice AND @MaxPrice
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCategoryName]    Script Date: 3/5/2016 7:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCategoryName]
(
@ID INT,
@Name VARCHAR(50),
@MinID INT OUTPUT
)
AS
BEGIN
	UPDATE Categories SET CategoryName=@Name WHERE CategoryID=@ID;
	SELECT @MinID=MIN(CategoryID) FROM Categories;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Amount]    Script Date: 3/5/2016 7:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_Amount]
(
	@UnitPrice FLOAT,
	@Quantity INT,
	@Discount FLOAT
)
RETURNS FLOAT
AS
BEGIN
	RETURN @UnitPrice*@Quantity*(1-@Discount)

END

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 3/5/2016 7:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 3/5/2016 7:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [nvarchar](20) NOT NULL,
	[NgayLapHD] [datetime] NOT NULL,
	[NgayNhanHang] [datetime] NOT NULL,
	[MaNV] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/5/2016 7:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](20) NOT NULL,
	[TenCty] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](60) NULL,
	[DienThoai] [nvarchar](24) NULL,
	[ThanhPho] [int] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/5/2016 7:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[Nu] [bit] NULL,
	[NgayNV] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[Hinh] [nvarchar](50) NULL,
	[MaDN] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 3/5/2016 7:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](40) NOT NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[DonGia] [float] NULL,
	[Hinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThanhPho]    Script Date: 3/5/2016 7:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhPho](
	[MaThanhPho] [int] IDENTITY(1,1) NOT NULL,
	[TenThanhPho] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThanhPho] PRIMARY KEY CLUSTERED 
(
	[MaThanhPho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong]) VALUES (10248, 1011, 12)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong]) VALUES (10248, 1042, 10)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong]) VALUES (10248, 1072, 5)
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLapHD], [NgayNhanHang], [MaNV]) VALUES (10248, N'VINET', CAST(0x000089B000000000 AS DateTime), CAST(0x000089BC00000000 AS DateTime), 3)
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLapHD], [NgayNhanHang], [MaNV]) VALUES (10249, N'TOMSP', CAST(0x000089B100000000 AS DateTime), CAST(0x000089B600000000 AS DateTime), 3)
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLapHD], [NgayNhanHang], [MaNV]) VALUES (10250, N'HANAR', CAST(0x000089B400000000 AS DateTime), CAST(0x000089B800000000 AS DateTime), 3)
GO
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
INSERT [dbo].[KhachHang] ([MaKH], [TenCty], [DiaChi], [DienThoai], [ThanhPho]) VALUES (N'ALFKI', N'Maria Anders', N'Obere Str. 57', N'030-0074321', 1)
INSERT [dbo].[KhachHang] ([MaKH], [TenCty], [DiaChi], [DienThoai], [ThanhPho]) VALUES (N'ANATR', N'Ana Trujillo', N'Avda. de la Constitución 2222', N'(5) 555-4729', 1)
INSERT [dbo].[KhachHang] ([MaKH], [TenCty], [DiaChi], [DienThoai], [ThanhPho]) VALUES (N'ANTON', N'Antonio Moreno', N'Mataderos  2312', N'(5) 555-3932', 1)
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [Nu], [NgayNV], [DiaChi], [DienThoai], [Hinh], [MaDN], [MatKhau]) VALUES (1, N'Nguyễn Thị Minh', N'Khai', 1, CAST(0x07240B00 AS Date), N'123 Trương Định', N'0913745789', N'1.gif', N'ntmkhai', N'iloveyou')
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [Nu], [NgayNV], [DiaChi], [DienThoai], [Hinh], [MaDN], [MatKhau]) VALUES (2, N'Nguyễn Văn', N'Trỗi', 0, CAST(0x9A220B00 AS Date), N'105 Bà Huyện Thanh Quan', N'0917060606', N'2.gif', N'nvtroi', N'iloveyou')
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [Nu], [NgayNV], [DiaChi], [DienThoai], [Hinh], [MaDN], [MatKhau]) VALUES (3, N'Phạm Văn', N'Hai', 0, CAST(0xA20E0B00 AS Date), N'100 Đoàn Thị Điểm', NULL, N'3.gif', N'ndhlong', N'pvhai')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh], [DonGia], [Hinh]) VALUES (1001, N'Aniseed Syrup', N'10 boxes x 20 bags', 190, N'41MJUdI2jdL._SL500_AA300_.jpg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh], [DonGia], [Hinh]) VALUES (1002, N'Change', N'10 boxes x 20 bags', 19, N'41TexqWVkHL._SL500_AA300_.jpg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh], [DonGia], [Hinh]) VALUES (1003, N'Aniseed Syrup', N'12 - 550 ml bottles', 10, N'31EPGSm2s1L._SL500_AA300_.jpg')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[ThanhPho] ON 

INSERT [dbo].[ThanhPho] ([MaThanhPho], [TenThanhPho]) VALUES (1, N'Hà Nội')
INSERT [dbo].[ThanhPho] ([MaThanhPho], [TenThanhPho]) VALUES (2, N'Sài Gòn')
INSERT [dbo].[ThanhPho] ([MaThanhPho], [TenThanhPho]) VALUES (3, N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[ThanhPho] OFF
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_Order_Details_Quantity]  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_Orders_OrderDate]  DEFAULT (getdate()) FOR [NgayLapHD]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_Orders_ShippedDate]  DEFAULT (((1)/(1))/(1900)) FOR [NgayNhanHang]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_Customers_UserLevel]  DEFAULT ((1)) FOR [ThanhPho]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_Products_UnitPrice]  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ThanhPho] FOREIGN KEY([ThanhPho])
REFERENCES [dbo].[ThanhPho] ([MaThanhPho])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ThanhPho]
GO
